// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//color

$primary:  #005eb8;
$green:   #00bf6f;
$light-gray: #f2efeb;
$orange:   #fe5000;
$sky:       #00b5e2;
$gray:      #63666a;
$marine:    #13284b;

